<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".Activity.DetailsToSignDoyenActivity"></activity>
        <activity android:name=".Activity.DetailToVerifyFileActivity" />
        <activity android:name=".Activity.VerifyFilePratiqueActivity" />

        <activity android:name=".Activity.FileSignatureActivity" />
        <activity android:name=".Activity.DetailOffreActivity" />
        <activity android:name=".Activity.DetailsNotificationActivity" />
        <activity android:name=".Activity.DetailsInternshipActivity" />
        <activity android:name=".Activity.ShowCVActivity" />
        <activity android:name=".Activity.ApplyInternshipActivity" />
        <activity android:name=".Activity.InternshipOfTheCompanyActivity" />
        <activity android:name=".Activity.AjouterAnnouncesInternshipActivity" />
        <activity android:name=".Activity.UpdateProfilCompanyActivity" />
        <activity android:name=".Activity.ProfilRepresentantCompanyActivity" />
        <activity android:name=".Activity.ProfilStudentActivity" />
        <activity
            android:name=".Activity.MenuProfActivity"
            android:label="@string/title_activity_menu_prof" />
        <activity
            android:name=".Activity.MenuCompanyActivity"
            android:label="@string/title_activity_menu_company" />
        <activity
            android:name=".Activity.MenuStudentActivity"
            android:label="@string/title_activity_menu_student" />
        <activity
            android:name=".Activity.MenuDoyenActivity"
            android:label="MenuDoyenActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.ForgotPasswordActivity" />
        <activity android:name=".Activity.MainAppActivity" />
        <activity android:name=".Activity.LoginActivity" />

        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>